<p><img src="https://s3.amazonaws.com/CIS126DL/Images/instructor.png" alt="Photo of the instructor" /></p>

<p>I have been teaching the Linux Operating System since 2008 at Mesa Community College and have been working with Linux for well over a decade. In 2009 I was a contributing author to <em>The Command Line</em> for GNU Press and have served as a subject matter expert for other publishers. Two of my courses have received Mesa Community College’s Gold Star certification for instructional excellence. I hold numerous industry certifications including the CompTIA Linux+, the Linux Professional Institute LPIC-1, SUSE Certified Linux Administrator and CompTIA Security+.</p>

<p>You can find a list of current and upcoming classes that I teach along with my office hours on <a href="http://contacts.mesacc.edu/dennis.kibbe" title="My contact page">my faculty contact page</a>.</p>
