<h2>CIS238DL</h2>
  <ul>
    <li><a href="cis238dl_acl.html" title="Access Control Lists">Access Control Lists</a></li>
    <li><a href="cis238dl_bash_env.html" title="Bash Environment">Bash Environment</a></li>
    <li><a href="cis126dl.html" title="Customize Bash">Customize Bash</a></li>
    <li><a href="cis238dl_make.html" title="Building Software with Make">Building Software with Make</a></li>
    <li><a href="cis238dl_grub.html" title="GRUB to the rescue">GRUB to the Rescue</a></li>
    <li><a href="cis238dl_lvm.html" title="Logical Volume Management">Logical Volume Management</a></li>
    <li><a href="cis238dl_prompt.html" title="Custom PS1 Prompt">A Custom PS1 Prompt</a></li>
    <li><a href="cis238dl_quotas.html" title="Disk quotas">Disk Quotas</a></li>
    <li><a href="cis238dl_vsftpd.html" title="FTP and SELinux">vsFTP and SELinux</a></li>
    <li><a href="cis238dl_raid.html" title="RAID">RAID</a></li>
    <li><a href="cis239dl_regex.html" title="Regular Expressions">Regular Expressions</a></li>
    <li><a href="cis238dl_rpmbuild.html" title="Build a RPM Package">Build a RPM Package</a></li>
    <li><a href="cis239dl_sed.html" title="The sed Editor">The sed Editor</a></li>
    <li><a href="cis238dl_sshd.html" title="Securing the SSH server">Securing the SSH Server</a></li>
    <li><a href="cis238dl_sudo.html" title="Sudo">Sudo</a></li>
  </ul>
