<h2>CIS239DL</h2>
  <ul>
    <li><a href="cis239dl_arrays.html" title="Arrays">Arrays</a></li>
    <li><a href="cis239dl_awk.html" title="AWK">AWK</a></li>
    <!--<li><a href="cis239dl_awk.html" title="AWK">AWK</li>-->
    <li><a href="cis239dl_hello.html" title="Writing Your First Script">Your First Script</a></li>
    <li><a href="cis239dl_case.html" title="Case Statements">Case Statements</a></li>
    <li><a href="cis239dl_chop.html" title="Chopping Strings">Chopping Strings</a></li>
    <li><a href="cis239dl_conditional.html" title="Conditional testing">Conditional testing</a></li>
    <li><a href="cis239dl_for_loop.html" title="For Loops">For Loops</a></li>
    <li><a href="cis239dl_functions.html" title="Functions">Functions</a></li>
    <li><a href="cis239dl_heredocs.html" title="Here docs">Here Docs</a></li>
    <li><a href="cis239dl_pos_params.html" title="Positional Paramaters">Positional Parameters</a></li>
    <li><a href="cis239dl_python-perl.html" title="Bash, Python and Perl">Bash, Python and Perl</a></li>
    <li><a href="cis239dl_regex.html" title="Regular Expressions">Regular Expressions</a></li>
    <li><a href="cis239dl_sed.html" title="SED">SED</a></li>
    <li><a href="cis239dl_select.html" title="Select Menu">Select Menu</a></li>
    <li><a href="cis239dl_trap.html" title="Traps">Traps</a></li>
    <li><a href="cis239dl_while_until.html" title="For, While and Until Loops">For, While and Until Loops</a></li>
  </ul>
