<header class="site-header">
  <div class="wrapper">
    <h1>dkibbe.github.io</h1>
    <p>Course material for my Linux classes at <a href="http://contacts.mesacc.edu/dennis.kibbe" title="Instructor contact page">Mesa Community College</a></p>
    <p class="view"><a href="https://github.com/dkibbe">View the Project on GitHub <small>dkibbe</small></a></p>
    <ul>
      <li class="single"><a href="https://github.com/dkibbe/dkibbe.github.io">View On <strong>GitHub</strong></a></li>
    </ul>
  </div>
</header>
